.pipe-navbar .navbar-nav-scroll {
    max-width: 100%;
    height: 50px;
    overflow: hidden;
  }


@media (max-width: 991.98px) {


  .pipe-navbar .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

@media (min-width: 768px) {
  @supports ((position: -webkit-sticky) or (position:sticky)) {
    .pipe-navbar {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1071;

    }
  }
}

@media (max-width: 576px) {
  .navbar-nav-scroll {
    overflow-x: auto;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2px;
    -webkit-overflow-scrolling: touch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
  }
}

.nav-link .navbar-nav {
  font-family: 'Raleway', sans-serif;
  color: grey;
  font-size: 12px;
  font-weight: lighter;
}
